# yaml-language-server: $schema=../../schema/local.json
config:
  metrics:
    fields:
      add:
        user_id: "jwt.sub" 
        user_name: 'jwt.preferred_username'
  logging:
    fields:
      add:
        user_id: "jwt.sub" 
        user_name: 'jwt.name'
        authenticated: 'jwt.sub != null'
        jwt_act: "jwt.act"
        token_issuer: 'jwt.iss'
        token_audience: 'jwt.aud'       
binds:
- port: 3000
  listeners:
  - routes:
# ------------------------------------------------------------
# Microsoft Entra route
# ------------------------------------------------------------
    - matches:
      - path:
          exact: /mcp
      backends:
      - mcp:
          targets:
          - name: microsoft
            mcp:
              host: "learn.microsoft.com"
              port: 443
              path: "/api/mcp"              
          - name: exa-ai
            mcp:
              host: "mcp.exa.ai"
              port: 443
              path: "/mcp"
      policies:
        jwtAuth:
          mode: strict
          issuer: https://sts.windows.net/5e7d8166-7876-4755-a1a4-b476d4a344f6/
          audiences: [api://ec791040-80f8-4129-bf34-96a0e0672c96]
          jwks:
            url: https://login.microsoftonline.com/5e7d8166-7876-4755-a1a4-b476d4a344f6/discovery/v2.0/keys            
        mcpAuthorization:
          rules:
          # This has to be OBO a user, and called by an AI agent identity we recognize
          - "jwt.appid == '65027832-f56f-4d8e-93aa-a09113ba2d47' && '11' in jwt.xms_act_fct.split(' ')"
        cors:
          allowOrigins:
          - "*"
          allowHeaders:
          - "*"
          allowMethods:
          - "*"
        backendTLS: {}     
        requestHeaderModifier:
          remove:
          - x-forwarded-for
          - x-forwarded-host
          - x-forwarded-proto
